// SuccessMessage.scss
$success-bg: #e0f7e9; // Light green background
$success-border: #4caf50; // Green border
$success-text-color: #4caf50; // Dark green text
$success-text: #333; // Dark gray text
.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $success-bg;
    border: 2px solid $success-border;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    h2 {
        color: $success-text-color;
        margin-bottom: 10px;
    }
    p {
        color: $success-text;
        text-align: center;
    }
}


/* Loading.scss */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // full screen
    background: #fff; // or transparent if you prefer
}

.loading-logo {
    width: 120px;
    height: auto;
    animation: spin 2s linear infinite; // spin animation
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}